<h1>All shows listing</h1>

<%= form_tag(root_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Show Name</th>
      <th>Time</th>
      <th>Channel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.name %></td>
        <td><%= show.time.strftime("%H:%M") %></td>
        <td><%= show.channel.name %></td>
        <td>
          <% if current_user.present? %>
            <% if current_user.favorites.ids.include?(show.id) %>
              <%= link_to "unfavorite", favorite_show_path(show, type: "unfavorite"), method: :put %>
            <% else %>
              <%= link_to "favorite",   favorite_show_path(show, type: "favorite"), method: :put %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
